[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
fabric = "*"

[packages]
django = "==2.2.17"
markdown = "*"
gunicorn = "*"
supervisor = "*"
django-pure-pagination = "*"

[requires]
python_version = "3"
