{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main class="col-md-12">
    <h1 class="page-title">About Me</h1>
    <article class="post">
      <div class="entry-content clearfix">
        <figure class="img-responsive-center">
          <img class="img-responsive" src="{% static 'blog/img/ace.jpg' %}" alt="Image">
        </figure>
        <br/>
        <p>欢迎来到 <strong>QA之禅</strong> </p>
        <br/>
        <p>QA 的未来是自动化、场景化、服务化，质量保障之路任重而道远，从这里开始，记录修炼内功的点点滴滴！</p>
        <br/>
        <p>创新决定我们飞得有多高，质量决定我们走得有多远，正如著名的质量管理学家朱兰博士所说：“20世纪是生产率的世纪，21世纪是质量的世纪，质量是和平占领市场最有效的武器！”</p>
        <div class="height-40px"></div>
        <h2 class="title text-center">Social</h2>
        <ul class="social">
          <li class="google-plus"><a href="https://github.com/zhuifengshen"><span class="ion-social-github"></span></a></li>
          <li class="facebook"><a href="https://www.facebook.com/zhangchuzhao"><span class="ion-social-facebook"></span></a></li>
          <li class="twitter"><a href="https://twitter.com/ZhangChuZhao"><span class="ion-social-twitter"></span></a></li>
          <li class="tumblr"><a href="https://testerhome.com/columns/TheZenOfQA"><span class="ion-social-tumblr"></span></a></li>
        </ul>
      </div>
    </article>
  </main>
{% endblock content %}
