{% extends 'base.html' %}
{% load comments_extras %}

{% block main %}
  <article class="post post-{{ post.pk }}">
      <header class="entry-header">
          <h1 class="entry-title">{{ post.title }}</h1>
          <div class="entry-meta">
              <span class="post-category"><a href="{% url 'blog:category' post.category.id %}">{{ post.category.name }}</a></span>
              <span class="post-date"><a href="{% url 'blog:detail' post.id %}"><time class="entry-date"
                                                        datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
              <span class="post-author"><a href="{% url 'blog:detail' post.id %}">{{ post.author }}</a></span>
              <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
              <span class="views-count"><a href="{% url 'blog:detail' post.id %}">{{ post.views }} 阅读</a></span>
          </div>
      </header>
      <div class="entry-content clearfix">
        {{ post.body_html | safe }}
      </div>
  </article>
  <section class="comment-area" id="comment-area">
      <hr>
      <h3>发表评论</h3>
      {% comment %} {% show_comment_form post %} {% endcomment %}
      <div class="comment-list-panel">
      {% comment %} {% show_comments post %} {% endcomment %} </div>
  </section>
{% endblock main %}

{% block toc %}
  {% if post.toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ post.toc | safe }}
    </div>
  {% endif %}
{% endblock toc %}
